
body {
  font-family: serif;
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  background: linear-gradient(aqua 0%, white 50%);
  margin: 0;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(2, 131, 252);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  gap: 1rem; /* Controls the space between the image and text */
  padding: 0 2rem; /* Add padding on the sides for extra spacing */
}

.right {
  width: 50%; /* Text takes 45% of the container's width */
  max-width: 40rem; /* Limit the maximum width for readability */
  min-width: 20rem; /* Set a minimum width for smaller screens */
  display: flex;
  flex-direction: column;
}

.text {
  padding: 10px;
  position: relative;
  background-color: white;
  border-radius: 1rem;
  text-align: justify;
  margin: auto;
}

.image {
  max-height: 650px;
  max-width: 35%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 700px) or (orientation: portrait) {
  main {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
  }

  .image, .right {
    max-width: none;
    width: 75%; /* Take full width */
    height: auto; /* Maintain aspect ratio */
  }

  .left {
    align-items: center;
  }
}

h1 {
  text-align: center;
}

p.top {
  margin-top: 0;
}

footer {
  background-color: rgba(0, 0, 0, 0.875);
  padding-top: 1px;
  font-size: 30px;
  color: aliceblue;
}

li.nav {
  font-size: 20px;
  padding: 10px 20px;
  display: inline-block;
}

a.nav {
  text-decoration: none;
  color: white;
}

li:hover.nav {
  background-color: aqua;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a {
  display: inline-block;
}

img {
  display: block; /* Ensures the images don't have inline space between them */
  margin-bottom: 20px; /* Adds space below each image */
  padding-top: 15px;
}
