/* * {
  font-family: ;
} */

body {
  font-family: serif;
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  background: linear-gradient(aqua 0%, white 45%);
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(2, 131, 252);
  /* text-align: left; */
}

/* .navElem {
  color: black;
} */

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
}

.text {
  width: 40rem;
  padding: 10px;
  position: relative;
  background-color: white;
  border-radius: 1rem;
  text-align: justify;
  margin: auto;
}

.h1 {
  text-align: center;
}

footer {
  background-color: rgba(0, 0, 0, 0.875);
  padding-top: 1px;
  font-size: 30px;
  color: aliceblue;
}

li {
  font-size: 20px;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: chartreuse;
}

.link {
  color: black;
  text-decoration: underline;
}
