/* * {
  font-family: ;
} */

body {
  font-family: serif;
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  background: linear-gradient(aqua 0%, white 45%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(249, 6, 26);
}

.navElem {
  color: black;
}

.caption {
  background-color: rgb(208, 69, 152);
  /* display: inline;
  margin-top: 10rem; */
}

img {
  /* float: left; */
  position: relative;
  top: 20px;
  /* margin-left: 10rem; */
  margin-top: 1rem;
  display: inline;
}

.text {
  width: 5rem;
  position: relative;
  /* left: 35rem; */
  padding: 0.5px;
  background-color: white;
  border-radius: 1rem;
  display: inline;
}

footer {
  background-color: rgba(0, 0, 0, 0.875);
  padding-top: 1px;
  font-size: 30px;
  color: aliceblue;
}

li {
  font-size: 20px;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: chartreuse;
}
